<div>
	<div style="float:right">
		<img class="img-thumbnail" src="./img/PartyRocketsFirstPlace_thumb.jpg"/>
		<p class="text-primary">The Party Rockets and their coach</p>
	</div>
	<h1>Party Rockets in the House Tonight</h1>
	<h3>We came to blow your mind</h3>
	<p>The Party Rockets are a <a href="http://destinationimagination.org/">Destination Imagination </a>team from Redmond, WA.</p>
	<p>They took first place in the 2015 Seattle-Metro Destination Imagination Regional Tournament for the Science Challenge, Elementary School Division.</p>
	<p>If you're interested in making a tax-deductible donation to help defray to costs of competing, please visit our <a title="Sponsorship" href="./sponsor">donations and sponsorship page</a>.</p>
</div>