<h1>Sponsorship</h1>
<div>
	<div style="float:right">
		<img class="img-thumbnail" src="./img/PartyRocketsPerformance_thumb.jpg">
		<p class="text-muted">Ready to Perform</p>
	</div>
	<p>The Party Rockets are looking for donations to help defray the costs of competing in the Destination Imagination tournament</p>
	<p>If you'd like to help sponsor the Party Rockets trip this year, you can make a tax-deductible donation to the <a href="http://www.wa-di.org/">Washington Imagination Network</a>&nbsp;(aka W.I.N.) in the Awesome Assemblers name. W.I.N. is the Washington state affiliate organization for Destination ImagiNation. 100% of the money donated to W.I.N. in the team's name - as well as any employer matching funds - will go to cover the team expenditures. Any money over and above the competion costs (should we be so lucky!) will stay with W.I.N. to assist them in their mission to provide creative problem-solving opportunities for the youth of Washington state.</p>
	<p>To help sponsor the Awesome Assemblers trip to Global Finals, please mail a check to:</p>
	<blockquote><p>Washington Imagination Network<br>
	PO Box 1738<br>
	Coupeville, WA98239-1738</p>
	<p><strong>Please include our Team Number: XXX-XXXXX</strong></p></blockquote>
	<p>The Washington Imagination Network is a 501(c) (3) non-profit organization and all donations are tax deductible. Their tax ID number is 91-1728778.</p>
	<p>If you have any questions about sponsorship, please contact us at <a href="mailto:PartyRockets@outlook.com">PartyRockets@outlook.com</a>.</p>
</div>